$title:#1D2331;
$content:#777777;
$red:#E21C3F;
$pink:#F867BF;
$green:#19AA5F;
$yellow:#FFB836;
$blue:#5B72F9;
$gray:#E6E6E6;
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;800&display=swap');
$lato: 'Baloo 2',
cursive;
.red {
    color: $red;
}

.blue {
    color: $blue;
}

.green {
    color: $green;
}